PassengerAppRoot /home/u805618386/domains/palegreen-heron-229617.hostingersite.com/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs20/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /

SetEnv NODE_ENV production
SetEnv PORT 5000
