PassengerAppRoot /home/u805618386/domains/thequarterdeck.pk/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs20/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /

SetEnv NODE_ENV production
SetEnv PORT 5000
