PassengerAppRoot /home/u805618386/public_html
PassengerAppType node
PassengerNodejs /home/u805618386/.nvm/versions/node/v20.19.6/bin/node
PassengerStartupFile server.js
PassengerBaseURI /

SetEnv NODE_ENV production
